<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/details.css">
</head>

<body>
    <header>



        <nav class="header-transperancy fixed top-0 left-0 w-full z-50 bg-gradient-to-b from-white/20 to-white/10 dark:from-gray-900/20 dark:to-gray-900/10">
            <div class="header-transperancy max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 ">
                <a href="index.html" class="flex border-1 border-white items-center space-x-3 rtl:space-x-reverse">
                    <img src="https://cdn.one.accedo.tv/files/6618e6d729fbc80018bdcbb1?sessionKey=01K8QYHGCQTP2N5BH8RB76BZHX15D58F97E8#asset"
                         class="h-12" alt="EXXEN" />
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse gap-2">
                    <button type="button"
                            class="rounded-xl items-center text-lg flex gap-1  border-hover text-white bg-blue-700 border-gray-700 border-2 my-hover focus:ring-4 focus:outline-none font-medium text-sm px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="28" height="28"
                             class=" [&amp;_path]:fill-[currentColor] [:where(&amp;)]:h-[2rem] [:where(&amp;)]:w-[1.5rem] [:where(&amp;)]:lg:h-[2rem] [:where(&amp;)]:lg:w-[2rem] mr-Spacing/xs block h-Icon/md w-Icon/md">
                            <path fill="#F2F2F2"
                                  d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2m6.93 6h-2.95a15.7 15.7 0 0 0-1.38-3.56A8.03 8.03 0 0 1 18.92 8M12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96M4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56A8 8 0 0 1 5.08 16m2.95-8H5.08a8 8 0 0 1 4.33-3.56A15.7 15.7 0 0 0 8.03 8M12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96M14.34 14H9.66c-.09-.66-.16-1.32-.16-2s.07-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2m.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2z">
                            </path>
                        </svg>EN
                    </button>
                    <button type="button"
                            class="login text-xl rounded-full border-hover text-white !bg-gray-400 border-gray-700 border-2 my-hover focus:ring-4 focus:outline-none font-medium px-8 py-2 text-center dark:!bg-gray-400 dark:hover:bg-gray-300 dark:focus:ring-blue-800">
                        Log In
                    </button>
                    <button data-collapse-toggle="navbar-cta" type="button"
                            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                            aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                    <ul class="flex md:gap-2 sm:gap-1 lg:gap-3 flex-col font-medium p-3 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="index.html"
                               class="gap-2 text-xl font-semibold inline-flex  items-center px-0 md:p-0 text-white bg-blue-700 rounded-sm md:hover:bg-transparent sm:hover:bg-gray-900 md:bg-transparent md:text-blue-700 md:dark:text-blue-500 cus-color"
                               aria-current="page">
                                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24">
                                    <path fill="#FFCB04" fill-rule="evenodd"
                                          d="m20.713 10.535.081.069a.7.7 0 0 1 .194.477.694.694 0 0 1-1.146.524l-.825-.693-7.016-5.865-6.793 5.67-.022.019-.989.827a.68.68 0 0 1-.492.208.694.694 0 0 1-.692-.693c0-.188.08-.355.203-.482h-.003l.03-.024.022-.022.91-.762 7.826-6.538 7.616 6.365.007.007 1.058.884.016.014zm-2.69 2.485a.69.69 0 0 1 .688-.69.69.69 0 0 1 .688.69v6.922a.81.81 0 0 1-.808.808H5.404a.81.81 0 0 1-.808-.808V13.02a.69.69 0 1 1 1.381 0v6.342H7.38v.01h10.64l.003-.003V13.02m.688-.69h.003-.005z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                Explore
                            </a>
                        </li>
                        <li>
                            <a href="https://www.exxen.com/liveplayer"
                               class="gap-2 text-xl font-semibold flex items-center py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 my-hover">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     class=" w-8 h-8 [&amp;_path]:fill-[#FFCB04] [:where(&amp;)]:h-[1.5rem] [:where(&amp;)]:w-[1.5rem] [:where(&amp;)]:lg:h-[2rem] [:where(&amp;)]:lg:w-[2rem] w-Icon/md h-Icon/md inline flex-shrink-0">
                                    <path fill="#F2F2F2"
                                          d="M19.909 5.866h-6.973l1.868-1.868a.345.345 0 0 0 0-.485l-.253-.253a.345.345 0 0 0-.485 0L12 5.326 9.934 3.26a.345.345 0 0 0-.485 0l-.254.253a.345.345 0 0 0 0 .485l1.868 1.868H4.091a.96.96 0 0 0-.956.956v11.382c0 .526.43.956.956.956h15.818c.526 0 .956-.43.956-.956V6.82a.96.96 0 0 0-.956-.956zm-.434 11.81H4.525V7.348h14.95z">
                                    </path>
                                    <path fill="#F2F2F2"
                                          d="m9.841 13.338 2.397-5.25a.15.15 0 0 1 .284.085l-.566 3.688 2.037-.408a.15.15 0 0 1 .165.21l-2.396 5.25a.15.15 0 0 1-.285-.086l.567-3.688-2.037.408a.15.15 0 0 1-.166-.21">
                                    </path>
                                </svg>Live
                            </a>
                        </li>
                        <li>
                            <a href="search.html"
                               class="text-xl font-semibold flex gap-2 items-center py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 my-hover">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"
                                     class="w-7 h-7 [&amp;_path]:fill-[currentColor] [:where(&amp;)]:h-[1.5rem] [:where(&amp;)]:w-[1.5rem] [:where(&amp;)]:lg:h-[2rem] [:where(&amp;)]:lg:w-[2rem] w-Icon/md h-Icon/md inline flex-shrink-0">
                                    <path fill="#fff" fill-rule="evenodd"
                                          d="M10.374 4.205c-1.914 0-3.72.895-4.89 2.42a6.25 6.25 0 0 0-1.081 5.373 6.2 6.2 0 0 0 3.566 4.145 6.15 6.15 0 0 0 6.068-.752l4.09 4.116a.978.978 0 1 0 1.388-1.38l-4.117-4.142a6.24 6.24 0 0 0 1.08-4.336 6.21 6.21 0 0 0-3.7-4.955 6.1 6.1 0 0 0-2.404-.489m-.013 10.923a4.713 4.713 0 1 0 0-9.426 4.713 4.713 0 0 0 0 9.426"
                                          clip-rule="evenodd"></path>
                                </svg> Search
                            </a>
                        </li>
                    </ul>
                    <div class="block md:hidden mt-3 header-transperancy px-4 mx-auto max-w-screen-xl flex flex-col md:flex-row items-center gap-4">
                        <div class="w-full md:flex-1">
                            <input type="text" id="first_name"
                                   class="dark:placeholder-gray-100 bg-gray-50 border border-gray-700 text-gray-700 text-base rounded-lg focus:outline-none focus:ring-0 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-200 dark:text-white dark:focus:outline-none dark:focus:ring-0"
                                   placeholder="Name and Surname" required>
                        </div>

                        <div class="w-full md:flex-1 ">
                            <input type="text" id="input-group-1"
                                   class="dark:placeholder-gray-100 border border-gray-700 text-gray-700 text-base rounded-lg focus:outline-none focus:ring-0 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-200 dark:text-white dark:focus:outline-none dark:focus:ring-0"
                                   placeholder="name@exxen.com">
                        </div>

                        <div class="w-full md:w-auto  justify-center md:justify-start">
                            <button type="button"
                                    class="register cus-text-black text-xl w-full md:w-auto cus-bg hover:!bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-900 font-medium rounded-full text-sm px-8 py-2.5 text-center dark:focus:ring-yellow-900">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <form class="pb-5">
                <div class="hidden md:flex mt-2 header-transperancy px-4 mx-auto max-w-screen-xl flex flex-col md:flex-row items-center gap-4">
                    <div class="w-full md:flex-1">
                        <input type="text" id="first_name"
                               class="dark:placeholder-gray-100 bg-gray-50 border border-gray-700 text-gray-700 text-base rounded-lg focus:outline-none focus:ring-0 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-200 dark:text-white dark:focus:outline-none dark:focus:ring-0"
                               placeholder="Name and Surname" required>
                    </div>

                    <div class="w-full md:flex-1 ">
                        <input type="text" id="input-group-1"
                               class="dark:placeholder-gray-100 border border-gray-700 text-gray-700 text-base rounded-lg focus:outline-none focus:ring-0 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-200 dark:text-white dark:focus:outline-none dark:focus:ring-0"
                               placeholder="name@exxen.com">
                    </div>

                    <div class="w-full md:w-auto  justify-center md:justify-start">
                        <button type="button"
                                class="register cus-text-black text-xl w-full md:w-auto cus-bg hover:!bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-900 font-medium rounded-full text-sm px-8 py-2.5 text-center dark:focus:ring-yellow-900">
                            Register
                        </button>
                    </div>
                </div>

            </form>
        </nav>



    </header>

        @RenderBody()


    <footer class="bg-white dark:bg-gray-900 mt-8">
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8 " />
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 sm:justify-center">
            <div class="md:flex ">
                <div class="mb-6 md:mb-0 p-6">
                    <div class="border-t-2 border-gray-300 dark:border-gray-700 w-full mb-4">
                        <a href="https://play.google.com/store/apps/details?id=com.exxen.android&hl=en">
                            <img src="https://www.exxen.com/assets/googleplay.svg" alt="GooglePlay" class="mx-auto">
                        </a>
                    </div>
                    <div class="border-t-2 border-gray-300 dark:border-gray-700 w-full">
                        <a href="https://apps.apple.com/any/app/exxen/id1543402064">
                            <img src="https://www.exxen.com/assets/applestore.svg" alt="AppStore" class="mx-auto">
                        </a>
                    </div>
                </div>
                <div class="flex gap-8 justify-center sm:justify-between sm:p-0 p-6">

                    <div class="flex flex-col sm:flex-row gap-4 sm:gap-8 justify-center p-6 sm:p-0 text-center">
                        <div>
                            <ul class="text-gray-300 dark:text-gray-200 font-light space-y-2">
                                <li class="sm:justify-start flex">
                                    <a href="https://www.exxen.com/en/bilgi/cookie-policy"
                                       class="hover:underline">Cookie Policy</a>
                                </li>
                                <li class="sm:justify-start flex">
                                    <a href="https://www.exxen.com/en/bilgi/privacy-policy"
                                       class="hover:underline">Privacy Policy</a>
                                </li>
                                <li class="sm:justify-start flex">
                                    <a href="https://www.exxen.com/en/bilgi/terms-of-use" class="hover:underline">
                                        Terms
                                        of Use
                                    </a>
                                </li>
                                <li class="sm:justify-start flex">
                                    <a href="https://www.exxen.com/en/bilgi/membership-agreement"
                                       class="hover:underline">Membership Agreement</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <ul class="text-gray-300 dark:text-gray-200 font-light space-y-2">
                                <li class="sm:justify-start flex">
                                    <a href="https://yardim-exxen.ortusdesk.com/?token=qA0bj5kiXYCdGYXK8KNlV9kTgkrIIKPdx4pbRMmzBTl18T0UYgUNobScthsb2g677p4flgD4IUy8bIszNyY-ObFQOwjfRve4iJw_LA5qJczdZUj3RJqqSELfGAFEz13ojdEvBNV0h8pMp07RkjYj9KztFwa7DA8UU5lqG2rprKdrfj2Sd4VVsw5ANRwkIYFZ6E6ANsM-1lZ4bxuqmWob5B51rUPGpLJBaempZ8VL5u2KCCuyd-ekJY4XQdbpUnXyv1MsT33lH3BeU0VB55u5-HktZ2j-ySpwRI1nrDHwAytYxSGExsc0JEJqvJgBy82WQOqWaxkcqLiyUxNjN1AAWyHkXhTMP8__V1t50k2gxL1sCCNWTtZNhb8HP4XYcy_14XDXjUOC5_jci0gBNIpA3NOZ86X1ca7Us0TqxyesawW_aJCE2KfN1YPnkDy6DZtx406b7Ilibzn3vfHzyXigrp4UU3OHt1Y7hTay54HYdjp6QXmaL43QcIq4DLc1nQEiv9k_fodElwn83WeHzICyJ26NrNSvEXjrfyrfJ11AJ13GgMLKmKfHl-kUWMGrx0MkT_kkqgN_2pHm7Ck08cDgt7_H3fGTbkAym4xAOuH9Xge7yx0oA_TU2_Sbgt7Qo69QoGmQzLfcqAAT8KeTgKouoF17-M-y9_uqT1xwCTaOI4GYNvEbksgqiqJf1XPRHRMUQBMudkrWUQoSVieOwGqoJ8B7bmlG0qFy7qPHoRhKNWuYu_F2YleGmX4Xcd3YvD2beaWBj-3Zt1q0EEh3mUEOrTkiNcrQXrIzMJ-8b57D_g0wY4nMptJglUCKaRNVJ_Jw0dgtbCMugclb2QcggM_DcehdCzOR7WFXn-Dsyr076grHIywU4NKTtx5Dc3FuE8lwONhTnisrcgxM1PPVp6zQc0rGwEwBlMD99jZEUEe1nvnnqqtMiUHAdrN_r2MPiMeHHTowrq6JyS5vR_2Rkukr8b-jV8vcIOLR1kYaRzTaHxQk_Ks0eFx3fBrS7M3-5jLs"
                                       class="hover:underline">Contact Us</a>
                                </li>
                                <li class="sm:justify-start flex">
                                    <a href="https://yardim-exxen.ortusdesk.com/?token=qA0bj5kiXYCdGYXK8KNlV9kTgkrIIKPdx4pbRMmzBTl18T0UYgUNobScthsb2g677p4flgD4IUy8bIszNyY-ObFQOwjfRve4iJw_LA5qJczdZUj3RJqqSELfGAFEz13ojdEvBNV0h8pMp07RkjYj9KztFwa7DA8UU5lqG2rprKdrfj2Sd4VVsw5ANRwkIYFZ6E6ANsM-1lZ4bxuqmWob5B51rUPGpLJBaempZ8VL5u2KCCuyd-ekJY4XQdbpUnXyv1MsT33lH3BeU0VB55u5-HktZ2j-ySpwRI1nrDHwAytYxSGExsc0JEJqvJgBy82WQOqWaxkcqLiyUxNjN1AAWyHkXhTMP8__V1t50k2gxL1sCCNWTtZNhb8HP4XYcy_14XDXjUOC5_jci0gBNIpA3NOZ86X1ca7Us0TqxyesawW_aJCE2KfN1YPnkDy6DZtx406b7Ilibzn3vfHzyXigrp4UU3OHt1Y7hTay54HYdjp6QXmaL43QcIq4DLc1nQEiv9k_fodElwn83WeHzICyJ26NrNSvEXjrfyrfJ11AJ13GgMLKmKfHl-kUWMGrx0MkT_kkqgN_2pHm7Ck08cDgtxKek2eRdxeqnhw0j5kMgRCF5NP8pPIFSjbKKqoCL4oRYuXiWbQOlpsnhWSeG07J3CyET-A2ynTwWxtYr2egwsV3w5mZi04co6oRlbOFifp6mgFdAsfmfzElFdJZcGn-zMcj4HN435SBevYT2qOkCceWBKBre5cVuCzLhdVTjAiTkXBqRP4DxKHn1YUUmk_wjqk8nkp1R6ICqngHyEEkMB-8m_YZKHxTeKeo15RKEgnzNVJnI096Xnu9BvXJE4Br6s-VTn4l-l4rqhidq6t9qIgciYtkHTugXpi0ji2ZBM3WFw-rvIDsJJZOZPrl3b0YwnxI7zlTMsfmaYtX82tZ9WtEIBWMB85dmuJzaFWn45qPqh5YCvYCQLKWtNz9Jc_iW2SVcE5wVBeenl0m0fk1RXp6bap3j0sbh5y0RPG3jzd_xVFiaHhS8En072CH2QSR4A"
                                       class="hover:underline">FAQ</a>
                                </li>
                                <li class="sm:justify-start flex">
                                    <a href="https://www.exxen.com/en/bilgi/corporate-information"
                                       class="hover:underline">Corporate Information</a>
                                </li>
                                <li class="sm:justify-start flex">
                                    <a href="https://www.exxen.com/en/bilgi/application-form-relevant-person"
                                       class="hover:underline">Application Form for Relevant Person</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="justify-start">
                <div class="flex mt-4 sm:mt-0 ">
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                  d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                  clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 21 16">
                            <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z" />
                        </svg>
                        <span class="sr-only">Discord community</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                  d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                  clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                  d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                                  clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">GitHub account</span>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                  d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z"
                                  clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Dribbble account</span>
                    </a>
                </div>
                <div>
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                        © All content Copyright
                        2025 Exxen Dijital Yayincilik A.Ş. All Rights Reserved.
                    </span>
                </div>
            </div>
        </div>
    </footer>




    <script defer src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script defer src="~/assets/js/details.js"></script>


</body>

</html>